body{padding:20px 0 0 40px;}

/*=== FORM ===*/
.form{max-width:600px;}
.flex-row{display:flex;}
.flex-row div{
	margin-bottom:20px;
	width:100%;
	max-width:300px;
}
.flex-row.submit div{max-width:284px;}
.flex-row div:first-child{margin-right:30px;}
.flex-row.ww div{max-width:100%;margin-right:0;}
#submit, .input-form, .input-modif{
	border-radius:5px;
	box-sizing:border-box;
	border:1px solid #CCC;
	background-color:#fff;
	width:100%;
}
#submit, .input-form{
	font-size:20px;
	padding:8px 16px;
}
input.error{border:1px solid crimson;}
.alert-input{
	display:block;
	width:100%;
	padding-top:10px;
	font-size:16px;
}
.form .alert-input, .message-error p{font-weight:bold;}
#submit{
	cursor:pointer;
	background-color:#09F;
	border:1px solid #06F;
	color:#fff;
}
#submit:disabled{cursor:not-allowed;}

/*=== LOADER ===*/
p.saved, .loader.right:before{color:#49c849;}
.loader{
	width:42px !important;height:42px;
	position:relative;
	text-align:center;
}
.loader.load{
	background-color:#ccc;
	border-radius:21px;
	tranform-origin:50% 50%;
	animation:anim_load 1s linear infinite;
}
@keyframes anim_load{
	0% {transform:rotate(0deg);}
	100% {transform:rotate(360deg);}
}
.loader.load:before, .loader.right:before, .loader.wrong:before, .message-error span.suppr:before, td.suppr:before{
	display:block;
	position:absolute;
	top:0;right:0;bottom:0;left:0;
	width:100%;height:100%;
}
.loader.load:before{
	content:'';
	width:10px;height:10px;
	border-radius:5px;
	background-color:#fff;
	top:7px;left:7px;
}
.loader.right:before{
	content:'✔';
	font-size:40px;
	line-height:110%;
}
.loader.wrong:before{
	content:'×';
	font-size:70px;
	line-height:62%;
	font-weight:bold;
}
/*=== MESSAGE ERREUR ===*/
.alert-input, p.error, .loader.wrong:before{color:crimson;}
.message-error p{
	position:relative;
	padding-right:30px;
	font-size:18px;
}
.message-error span.suppr{
	position:absolute;
	display:block;
	width:27px;height:27px;
	border:1px solid #CCC;
	cursor:pointer;
	right:0;top:0;
}
.message-error span.suppr:before, td.suppr:before{
	content:'×';
	color:#ccc;
	font-size:40px;
	text-align:center;
	line-height:70%;
}

/*=== TABLE ===*/
table{
	border-collapse:collapse;
	width:100%;
}
table td{
	border:1px solid #CCC;
	padding:7px 12px;
	font-size:18px;
}
td.suppr{
	min-width:16px;
	cursor:pointer;
	position:relative;
}
tr.error{background-color:rgba(220,20,60,0.6);}
.input-modif{
	font-size:16px;
	padding:5px 8px;
}
td.suppr:before{
	font-weight:bold;
	line-height:90%;
}



